.app {
  text-align: center;
  background-color: #f0f8ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.balloons-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.balloon {
  font-size: 50px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.balloon:hover {
  transform: scale(1.1);
}

.balloon.popped {
  animation: pop 0.5s forwards; /* Call the pop animation when balloon is popped */
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0); /* Shrinks the balloon to disappear */
  }
}

.reveal-message {
  margin-top: 20px;
  font-size: 24px;
  color: #4caf50; /* Green color */
}

.gender-image {
  width: 100px; /* Adjust the size as needed */
  margin-top: 20px;
}